*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin:0;
    padding:0;
}

/* index.html */

h1{
    color:black;
    border:1.5px solid black;
    margin: 30px 600px;
    text-align: center;
    font-size: 40px;
    font-family: "Lucida Console",Helvetica,Arial;
    padding: 10px;
}

.bar li{
    display:inline;
    margin:50px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

.bar{
    border:1px solid black;
    padding:15px;
    width: 1400px;
    margin:0 auto;
}

.search input[type="text"]{
    font-family: "Inter", sans-serif;
    width: 700px;
    margin: 15px auto;
    display: block;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #E8D2AE;
    border-radius: 10px;
    border-style: none;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 36px;
    margin:50px;
}

.recipe-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,400px);
    gap:10px;
    margin:0px auto;
    /* justify-content: center; */
}

.card{
    border:1px solid black;
    margin-left: 50px;
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    box-shadow: 10px 10px 5px #0000000f;
    transition:transform 500ms;
    overflow: hidden;
    height: 510px;
}

.card:hover {
    transform:scale(1.1);
}

.card:hover .recipe-name{
    color:#1c4481;
}

.card .recipe-name{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 35px;
    padding:15px 30px;
}

.card img{
    width:100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    padding:0px 30px;
}

.card .description{
    font-family: "Inter", sans-serif;
    padding:30px;
    margin-top: 10px;
    font-size: 20px;
}


.final-text{
    text-align: center;
}

.principal-image{
    text-align:center;
    margin-top:180px;
}

/* empanadas.html */
.blue{
    color:rgb(108, 172, 228);
}

.emp-titles{
    color:rgb(0, 77, 193);
}

/* ceviche.html */
.cev-titles{
    color:rgb(195, 61, 12);
}

.red{
    color:rgb(200, 16, 46);
}

.emp-img{
    display:inline-block;
}

/* tequeños.html */

.teq-titles{
    color:rgb(140, 22, 22);
}
.yellow{
    color:rgb(252, 227, 0);
}

.ven-blue{
    color:rgb(0, 61, 165);
}

.ven-red{
    color:rgb(239, 51, 64);
}

/* General */

a{
    color: inherit;
    text-decoration: none;
}
a:visited{
    color: inherit;
}
.country{
    font-family: "Courier New", "Lucida Console", "Arial";
    font-weight: bold;
    background-color: black;
    width: 120px;
    padding: 10px;
    font-size: 20px;
}

.titles{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 25px;
    text-decoration:underline;
}

p,li{
    font-family: Arial, Helvetica, sans-serif;
}

.white{
    color:rgb(255, 255, 255);
}

.flag{
    text-align:center;
    width:"200px";
}

