*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin:0;
    padding:0;
}

body{
    background-color: #F3EAE4;
}
/* index.html */


@font-face {
    font-family: 'DK Display Patrol Regular';
    font-style: normal;
    font-weight: normal;
    src: local('DK Display Patrol Regular'), url('DK Display Patrol.woff') format('woff');
}


.title{
    font-size:4rem;
    color:#341612;
    font-family: "DK Display Patrol Regular",Helvetica,Arial;
}

.title-container{
    display: flex;
    justify-content: center;
    padding:2rem;
}

.subtitle{
    font-size: 3rem;
    color:#341612;
    font-family: "DK Display Patrol Regular",Helvetica,Arial;
}
.subtitle-container{
    margin: 4rem 0 1rem 0 ;
    padding: 0.5rem;
    width: 35%;
    border-radius:0 1rem 1rem 0;
    background-color: #E8D2AE;
}

.toolbar-container{
    display:flex;
    justify-content: center;
}
.toolbar-items{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    color:#341612;
    background-color: #FFFF;
    width: 75%;
    padding:1rem;
    border-radius: 5rem;
    display:flex;
    justify-content: center;
    filter: drop-shadow(1px 5px 3px #61412465);
}

.toolbar-items li{
    display: inline;
}

.toolbar-items li a{
    padding:2.8rem; 
    text-decoration: none;
    color: inherit;
}

.recipe-cards{
    display:flex;
    justify-content: space-between;
}

.card img{
    width: 100px;
}